@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons';

/*******************************************************
Color definitions
*******************************************************/
$link-color: black;
$link-hover-color: lighten(#333, 80%);
/*******************************************************
Font definitions
*******************************************************/
@font-face {
  font-family: 'headerFont';
  src: url('../fonts/nexarust/NexaRust.otf'); 
}

@font-face {
  font-family: 'taglineFont';
  src: url('../fonts/nexarust/NexaRustSansBlack.otf'); 
}
/*******************************************************
Nav Styles
********************************************************/
.navbar {
	margin-bottom: 0;
}
/*******************************************************
Header Styles
********************************************************/

header {
	margin-top: 0px;
	background: url('/img/headerBackground.jpg') center / cover;
	box-shadow: inset 0 0 0 1000px rgba(255,255,255,.5);
	padding: 20% 10%;
	text-align: center;

	h1 {
    font-family: headerFont;
    font-size: 3rem;
	}

	p {
		font-family: taglineFont;
		font-style: italic;
	}
}

/*******************************************************
Content Styles
********************************************************/
.primary-content-section {
	margin-top: 50px;
  article {
  	border: 1px solid black;
  	margin: 10px;
  	padding: 10px 30px;
  	text-align: center;

  	.icon-wrapper {
  		display: inline-block;
  		border: 1px solid black;
  		padding: 15px;
  		height: 50px;
  		width: 50px;
  		border-radius: 50%;
      
      &:hover {
  		  background-color: lighten(teal, 10%);
  		}
  		span {
  			font-size:1.8rem;
  		}
  	}

  	p {
  		text-align: justify;
  	}

     // change default speeed of modal 
  	.modal.fade .modal-dialog {
  		transition: transform 1s ease-in;
    }
  }
}

.secondary-content-section {
	margin-top: 50px;

	article {
		padding: 0 5%;
	}

	aside {
		text-align: center;

		img  {
			height: 200px;
			width: 200px;
			border-radius: 50%;
		}

		.placeholder-img {
			background: url('../img/ah.jpg') center / cover;
			border-radius: 50%;
			width: 300px;
			height: 300px;
		}

		figcaption {
			font-style: italic;
			padding: 2% 15%;
		}
	}
}

footer {
	background: url('/img/headerBackground.jpg') bottom / cover;
	box-shadow: inset 0 0 0 1000px rgba(255,255,255,.5);
	height: 20%;
	font-weight: 900;
	padding: 2% 5%;
	text-align: center;

  .contact-info {
  	padding: 0;
  	li {
  		list-style: none;

  		a {
  			color: $link-color;

  			&:hover {
  				color: $link-hover-color;
  				text-decoration: none;
  			}
  		}
  	}
  }
}













